<div class="app-info">
  <div class="app-info-text">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <h1>Добро пожаловать в <strong>Movie App</strong></h1>
    <p>Movie App - это приложение, которое взаимодействует с Kinopoisk API с целью получения данных об
      кино.</p>
    <p class="creator">Сайт создан волшебным разработчиком, который любит мультфильмы и кино. Он стремится сделать ваш опыт просмотра незабываемым!</p>
  </div>
</div>
<div class="app-info">
  <div class="app-info-text">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <p> tg: wakeupdeadpunk (who texts me - gay) </p>
  </div>
</div>
