<div class="mt-3">
  <div class="container-for-random">
    <div class="columns">
      <button class="btn btn-primary" (click)="getRandomMovie()">Get Random Movie</button><br>
      <div class="grid">
        <div *ngIf="movie" class="card">
          <h5 class="card-title">{{movie.name}}</h5>
          <p class="card-text">Genres:
            <ng-container *ngFor="let genre of movie.genres; let lastGenre=last">
              {{genre.name}}{{lastGenre ? '' : ', '}}
            </ng-container>
          </p>
          <p class="card-text">Production Countries:
            <ng-container *ngFor="let country of movie.countries; let lastCountry=last">
              {{country.name}}{{lastCountry ? '' : ', '}}
            </ng-container>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <button class="btn btn-primary" (click)="getRandomAnime()">Get Random Anime</button><br>
      <div class="grid">
        <div *ngIf="anime" class="card">
          <h5 class="card-title">{{anime.name}}</h5>
          <p class="card-text">Genres:
            <ng-container *ngFor="let genre of anime.genres; let lastGenre=last">
              {{genre.name}}{{lastGenre ? '' : ', '}}
            </ng-container>
          </p>
          <p class="card-text">Production Countries:
            <ng-container *ngFor="let country of anime.countries; let lastCountry=last">
              {{country.name}}{{lastCountry ? '' : ', '}}
            </ng-container>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
