<form [formGroup]="searchForm" (ngSubmit)="searchMovies()" class="search-form">
  <div class="form-group">
    <label for="searchText" class="form-label">Название:</label>
    <input type="text" id="searchText" formControlName="searchText" class="form-control">
  </div>
  <div class="form-group">
    <label for="searchOption" class="form-label">Опции поиска:</label>
    <select id="searchOption" formControlName="searchOption" class="form-control">
      <option value="person">По актерам</option>
      <option value="title">По названию</option>
      <option value="genre">По жанру</option>
      <option value="country">По стране</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">GO</button>
</form>

<div class="container mt-3">
  <div *ngIf="foundMovies.length > 0" class="grid">
    <div class="card movie-card" *ngFor="let movie of foundMovies">
      <a [routerLink]="['/movies', movie.id]" class="card-link">
        <div class="card-body">
          <h5 class="card-title">{{movie.name}}</h5>
          <p class="card-text">Genres:
            <ng-container *ngFor="let genre of movie.genres; let lastGenre=last">
              {{genre.name}}{{lastGenre ? '' : ', '}}
            </ng-container>
          </p>
          <p class="card-text">Production Countries:
            <ng-container *ngFor="let country of movie.countries; let lastCountry=last">
              {{country.name}}{{lastCountry ? '' : ', '}}
            </ng-container>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
