/* Стили для формы */
.search-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-size: 3em;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 70%;
  padding: 8px;
  font-size: 2em;
  border: 2px solid #000;
  border-radius: 40px;
}

.btn-primary {
  padding: 30px 60px;
  font-size: 2.2em;
  font-weight: bold;
  background-color: rgba(255,255,255, 0.2);
  color: #000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgba(255,255,255, 0.5);
}

.btn-primary {
  background-color: rgba(255,255,255, 0.1);
}

/* Стили для карточек фильмов */
.movie-card {
  margin-bottom: 20px;
  border: 3px solid rgba(0, 0, 0, 2); /* Полупрозрачная граница */
  border-radius: 100px;
  transition: box-shadow 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */
  padding: 20px;
}

.movie-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-title {
  font-size: 4em; /* Увеличенный размер шрифта */
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 2em; /* Увеличенный размер шрифта */
  color: #333; /* Цвет текста */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Увеличенная минимальная ширина карточки */
  grid-gap: 500px;
}

